
    <footer class="text-center text-lg-start bg-danger container-fluid p-5">
        <div class="row">
            <div class="col-12 col-md-4">             
                © 2022 Copyright:
                <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
            </div>
            <div class="col-12 col-md-4 text-center">
                PROYECTO MARVEL
            </div>
            <div class="col-12 col-md-4 logofooter">
                <img src="./assets/marvelLogo.png" height="25px">
            </div>
        </div>
    </footer>
