.logofooter {
    display: flex;
    justify-content: flex-end;
}

footer {
    color:white;
}

footer a {
    text-decoration: none;
    color: white !important;
}

footer a img {
    cursor: pointer;
}

@media (max-width: 762px) {
    .logofooter {
        justify-content: center;
    }
    
}