<div class="capitanamarvel" style="width: 18rem;">
    <img src="Proyecto-Marvel\src\assets\personajes\Captain_Marvel_V.webp" class="card-img-top" alt="Capitana Marvel">
    <div class="card-body">
      <h5 class="card-title">Capitana Marvel</h5>
      <p class="card-text">Carol Danvers se convierte en uno de los héroes más poderosos del universo cuando la Tierra se ve atrapada en medio
         de una guerra galáctica entre dos razas alienígenas.</p>
      <a href="https://www.marvel.com/characters/captain-marvel-carol-danvers" class="btn btn-primary">Saber más</a>
    </div>
</div>  
<div class="ironman" style="width: 18rem;">
    <img src="Proyecto-Marvel\src\assets\personajes\Iron_Man_Vol_6_1_Brooks_.webp" class="card-img-top" alt="Iron Man">
    <div class="card-body">
      <h5 class="card-title">Iron Man</h5>
      <p class="card-text">El inventor Tony Stark aplica su ingenio para encontrar soluciones de alta tecnología a problemas como Iron Man,
         el Vengador acorazado..</p>
      <a href="https://www.marvel.com/characters/iron-man-earth-58163" class="btn btn-primary">Saber más</a>
    </div>
</div>

<div class="brujaescarlata" style="width: 18rem;">
    <img src="Proyecto-Marvel\src\assets\personajes\Scarlet_Witch_Vol_2_2_.webp" class="card-img-top" alt="Bruja Escarlata">
    <div class="card-body">
      <h5 class="card-title">Bruja Escarlata</h5>
      <p class="card-text">Wanda Maximoff, notablemente poderosa, ha luchado contra y con los Vengadores, 
        intentando perfeccionar sus habilidades y hacer lo que cree que es correcto para ayudar al mundo.</p>
      <a href="https://www.marvel.com/characters/scarlet-witch-wanda-maximoff" class="btn btn-primary">Saber más</a>
    </div>
  </div>

  <div class="thor" style="width: 18rem;">
    <img src="Proyecto-Marvel\src\assets\personajes\Thor_Odinson_.webp" class="card-img-top" alt="Thor">
    <div class="card-body">
      <h5 class="card-title">Thor</h5>
      <p class="card-text">
        El hijo de Odín usa sus poderosas habilidades como Dios del Trueno para proteger su hogar, Asgard, y el planeta Tierra por igual. Maximoff, notablemente poderosa, ha luchado contra y con los Vengadores, 
        intentando perfeccionar sus habilidades y hacer lo que cree que es correcto para ayudar al mundo.</p>
      <a href="https://www.marvel.com/characters/scarlet-witch-wanda-maximoff" class="btn btn-primary">Saber más</a>
    </div>
  </div>


