/*  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: auto;
} */
#main .carousel-inner img{
  max-height: 70vh;
  object-fit: cover;
}

.img-back{
  background-image: url(https://static.nationalgeographic.es/files/styles/image_3200/public/small_magellanic_cloud_nationalgeographic_1095053.jpg?w=1600&h=900);
  text-align: center;
  vertical-align: center;
  height: 300px;
}

.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
  background-image: linear-gradient(125deg, #a72879, #064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
}

.contact-form {
  position: relative;
  margin: 32px 0;
}

p{
  font-weight: 100;
  font-size: 14px;
  text-align: justify;
}

.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3.2em;
  line-height: 48px;
  padding-top: 48px;
  color: #5543ca;
  background: #5543ca;
  background: -moz-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
  background: -webkit-linear-gradient(
    left,
    #f4524d 0%,
    #5543ca 100%
  ) !important;
  background: linear-gradient(to right, #f4524d 0%, #5543ca 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: transparent;
}

.get-in-touch .title3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.2em;
  line-height: 48px;
  color: #5543ca;
  background: #5543ca;
  background: -moz-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
  background: -webkit-linear-gradient(
    left,
    #f4524d 0%,
    #5543ca 100%
  ) !important;
  background: linear-gradient(to right, #f4524d 0%, #5543ca 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: transparent;
}

.imagenHistoria{
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
}

