<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>

  <section class="get-in-touch">
    <h1 class="title">Contacta con nosotros</h1>
    <form class="contact-form row">
       <div class="form-field col-lg-6">
          <input id="name" class="input-text js-input" type="text" required>
          <label class="label" for="name">Nombre</label>
       </div>
       <div class="form-field col-lg-6 ">
          <input id="email" class="input-text js-input" type="email" required>
          <label class="label" for="email">Email</label>
       </div>
       <div class="form-field col-lg-6 ">
          <input id="company" class="input-text js-input" type="text" required>
          <label class="label" for="company">Asunto</label>
       </div>
        <div class="form-field col-lg-6 ">
          <input id="phone" class="input-text js-input" type="text" required>
          <label class="label" for="phone">Teléfono</label>
       </div>
       <div class="form-field col-lg-12">
          <input id="message" class="input-text js-input" type="text" required>
          <label class="label" for="message">Mensaje</label>
       </div>
       <div class="form-field col-lg-12">
          <input class="submit-btn" type="submit" value="Enviar">
       </div>
    </form>
 </section>

 <section class="get-in-touch">
  <h3 class="title3">Visítanos en nuestra guarida</h3>
  <p>Por añadir mapa</p>
</section>
 
  </body>
</html>