/*************************** Titulos y botones ******************/
a {
  text-decoration: none;
  color: #fff;
}

.personajes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.cards {
  padding: 10px;
  margin: 20px;
  display: flex;
  max-height: 800px;
  flex-direction: column;
  color: #5543ca;
}

img {
  max-height: 300px;
}

.get-in-touch {
  margin: 10px auto;
  position: relative;
}

.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3.2em;
  line-height: 48px;
  padding-bottom: 48px;
  color: #5543ca;
  background: #5543ca;
  background: -moz-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
  background: -webkit-linear-gradient(left,
      #f4524d 0%,
      #5543ca 100%) !important;
  background: linear-gradient(to right, #f4524d 0%, #5543ca 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: transparent;
}


.get-in-touch .submit-btn {
  display: inline-block;
  background-color: #000;
  background-image: linear-gradient(125deg, #a72879, #064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
}

.card-body{
  flex: 1 1 auto;
}

h5.card-title.text-center {
  font-weight: bold;
}