<div class="container">
  <div class="personajes">
    <h2>Personajes Destacados</h2>
    <div class="row">
      <div class="col-md-3">
        <img src="" alt="" class="w-100">
        <h4>titulo</h4>
        <button><a routerLink=""></a></button>
      </div>
    </div>
  </div>
  <div class="comics">
    <div class="row">
      <div class="col-md-3">
        <img src="" alt="" class="w-100">
        <h4>titulo</h4>
        <p>Autor</p>
        <button><a routerLink=""></a></button>
      </div>
    </div>
  </div>
</div>
