<div class="container-fluid">
  <section class="get-in-touch">
    <h1 class="title">Comics</h1>
    <div class="comics">
      <div class="bodyCards text-center" *ngFor="let comic of comics">
        <div class="card cards" style="width: 18rem;">
          <img src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" alt="" class="w-100">
          <div class="card-body">
            <h5 class="card-title text-center">{{comic.title}}</h5>
            <button type="button" class="btn btn-btn-sm submit-btn btn-comic justify-center"><a
                (click)="open(comic.id)">Detalles</a></button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- MODAL -->
  <div class="modal fade" #myModal id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detalles</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
             <img src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" class="w-100">
            </div>
            <div class="col-md-8">
              <h3>{{comic.title}}</h3>
              <p>{{comic.description}}</p>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="saveSomeThing()">Cerrar</button>
        </div>
      </div>
    </div>
